# Sentiment Analysis

## Preparing the IMDb movie review data

In [12]:
#import pyprind # show process
#import pandas as pd
#import os
#basepath = 'aclImdb'
#labels = {'pos':1,'neg':0}
#pbar = pyprind.ProgBar(5000)
#df = pd.DataFrame()
#for s in ('test','train'):
#    for l in ('pos','neg'):
#        path = os.path.join(basepath,s,l)
#        for file in os.listdir(path):
#            with open(os.path.join(path,file),'r',encoding='utf-8') as infile:
#                txt = infile.read()
#                df = df.append([[txt,labels[l]]],ignore_index=True)
#                pbar.update()

#df.columns = ['review','sentiment']

# randomize index and save it to csv file
#import numpy as np
#np.random.seed(0)
#df=df.reindex(np.random.permutation(df.index))
#df.to_csv('movie_data.csv',index=False,encoding='utf-8')

In [13]:
df = pd.read_csv('movie_data.csv',encoding='utf-8')
df.head(3)

                                              review  sentiment
0  This 1931 comedy gets better with every viewin...          1
1  Maybe it's because I'm no fan of the comics (b...          0
2  This service comedy, for which Peter Marshall ...          0

In [14]:
df.loc[0,'review'][-50:]

"n nominated. He's just excellent in this this gem."

In [16]:
import re
def preprocessor(text):
    text = re.sub('<[^>]*>', '', text)
    emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)',
         text)
    text = (re.sub('[\W]+', ' ', text.lower()) +
 ' '.join(emoticons).replace('-', ''))
    return text

def tokenizer(text):
    return text.split()

In [17]:
# apply preprocessor
df['review'] = df['review'].apply(preprocessor)

In [30]:
from nltk.stem.porter import PorterStemmer
porter=PorterStemmer()

In [31]:
def tokenizer_porter(text):
    return [porter.stem(word) for word in text.split()]

In [32]:
import nltk

In [33]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/wsun3/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [35]:
from nltk.corpus import stopwords

In [36]:
stop = stopwords.words('english')

In [37]:
def tokenizer_porter_stop(text):
    return [w for w in tokenizer_porter(text) if w not in stop]
df['review'] = df['review'].apply(tokenizer_porter_stop)

In [26]:
X_train = df.loc[:25000, 'review'].values
y_train = df.loc[:25000, 'sentiment'].values
X_test = df.loc[25000:, 'review'].values
y_test = df.loc[25000:, 'sentiment'].values

In [39]:
df.to_csv('movie_data_preprocessed.csv',index=False,encoding='utf-8')
df.head(3)

                                              review  sentiment
0  [thi, 1931, comedi, get, better, everi, view, ...          1
1  [mayb, becaus, fan, comic, comic, qualiti, mov...          0
2  [thi, servic, comedi, peter, marshal, joann, d...          0

In [40]:
df1 = pd.read_csv('movie_data_preprocessed.csv',encoding='utf-8')

In [41]:
df1

                                                  review  sentiment
0      ['thi', '1931', 'comedi', 'get', 'better', 'ev...          1
1      ['mayb', 'becaus', 'fan', 'comic', 'comic', 'q...          0
2      ['thi', 'servic', 'comedi', 'peter', 'marshal'...          0
3      ['9', '10', '30', 'minut', 'pure', 'holiday', ...          1
4      ['thi', 'drummond', 'entri', 'lack', 'continu'...          0
5      ['absolut', 'love', 'thi', 'game', 'death', 'e...          1
6      ['le', 'grand', 'voyag', 'gentl', 'miracl', 'f...          1
7      ['one', 'dark', 'night', 'highli', 'overlook',...          1
8      ['heard', 'good', 'thing', 'thi', 'movi', 'pro...          1
9      ['may', 'may', 'consid', 'interest', 'onli', '...          1
10     ['found', 'get', 'increasingli', 'angri', 'thi...          0
11     ['thi', 'one', 'best', 'movi', 'say', 'lot', '...          1
12     ['probabl', 'heard', 'thi', 'phrase', 'come', ...          0
13     ['american', 'werewolf', 'london', 'funni', 'p...          0
14     ['wa', 'pretti', 'surpris', 'thi', 'flick', 'e...          1
15     ['low', 'budget', 'film', 'like', 'thi', 'give...          0
16     ['thi', 'film', 'remind', 'soprano', 'good', '...          0
17     ['watch', 'thi', 'movi', 'without', 'big', 'ex...          1
18     ['thi', 'movi', 'play', 'like', 'english', 've...          0
19     ['seen', 'movi', 'year', 'ago', 'disappoint', ...          1
20     ['fan', 'old', 'seri', 'must', 'say', 'thi', '...          0
21     ['frequent', 'comment', 'utter', 'dirth', 'tru...          0
22     ['mood', 'thi', 'movi', 'pretti', 'good', 'cap...          0
23     ['unlik', 'anyon', 'except', 'ador', 'silent',...          0
24     ['serious', 'read', 'review', 'thi', 'film', '...          0
25     ['wow', 'thi', 'movi', 'voic', 'climb', 'gener...          1
26     ['act', 'even', 'bad', 'sinc', 'come', 'mind',...          0
27     ['part', 'celebr', 'releas', 'casino', 'royal'...          1
28     ['weak', 'tale', 'evil', 'warlock', 'search', ...          0
29     ['ye', 'georgio', 'light', 'heart', 'enjoy', '...          1
...                                                  ...        ...
49970  ['anoth', 'well', 'done', 'moral', 'ambigu', '...          1
49971  ['6', '10', 'act', 'great', 'good', 'act', '4'...          0
49972  ['angel', 'bit', 'american', 'obsess', 'often'...          1
49973  ['feel', 'extrem', 'sad', 'peopl', 'review', '...          1
49974  ['lame', 'clich', 'superhero', 'action', 'movi...          0
49975  ['thi', 'best', 'movi', 'ever', 'opinion', 'sa...          1
49976  ['thi', 'far', 'one', 'bore', 'horribl', 'act'...          0
49977  ['must', 'admit', 'first', 'expect', 'anyth', ...          1
49978  ['may', 'contain', 'spoiler', 'luckless', 'sou...          0
49979  ['realli', 'disagre', 'guy', 'yardley', 'ree',...          1
49980  ['well', 'thought', 'movi', 'wa', 'blah', '1',...          0
49981  ['watch', 'revolt', 'zombi', 'star', 'futur', ...          0
49982  ['must', 'say', 'someth', 'state', 'nation', '...          0
49983  ['read', 'comment', 'least', 'one', 'poster', ...          1
49984  ['must', 'rememb', 'gammera', 'movi', 'like', ...          0
49985  ['dull', 'act', 'weak', 'script', 'worst', 'sp...          0
49986  ['thi', 'movi', 'stupid', 'simpli', 'goe', 'ar...          0
49987  ['thi', 'certainli', 'worst', 'movi', 'ever', ...          0
49988  ['receiv', 'dvd', 'thi', 'sunday', 'newspap', ...          0
49989  ['like', 'previou', 'comment', 'thi', 'film', ...          0
49990  ['basic', 'slasher', 'movi', 'premis', '3', 'y...          0
49991  ['oop', 'hire', 'thi', 'becaus', 'thought', 'w...          0
49992  ['numer', 'problem', 'thi', 'film', 'contain',...          0
49993  ['lo', 'debutant', 'stori', 'two', 'orphan', '...          1
49994  ['babi', 'face', 'precod', 'melodrama', 'star'...          1
49995  ['pain', 'clear', 'effort', 'thi', 'film', 'wa...          0
49996  ['littl', 'man', 'dvd', 'wayan', 'brother', 'f...          0
49997  ['thi', 'one', 'best', 'celebr', 'realiti', 's...          0
49998  ['someon', 'must', 'serious', 'joke', 'made', ...          0
49999  ['doe', 'anyon', 'know', 'could', 'get', 'hand...          1

[50000 rows x 2 columns]